.container {
  position: relative;
}

.text {
  position: relative;
  width: 100%;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  outline: 1px solid rgba(var(--c-outline-variant-tint));
  background-color: rgb(var(--bg-text-box));
  color: inherit;

  &:focus {
    outline: 2px solid rgb(79 57 246);
  }

  &::placeholder {
    color: rgb(153 161 175);
  }

  &.text--with-icon {
    padding-left: calc(12px + 1rem + 12px);
  }
}

.text__icon {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0 auto 12px;
  color: rgb(153 161 175);
}
