:root {
	/* メディアクエリ */
	@property --is-xs {
		syntax: "true | false";
		inherits: true;
		initial-value: false;
	}
	@property --is-sm {
		syntax: "true | false";
		inherits: true;
		initial-value: 0;
	}
	@property --is-md {
		syntax: "true | false";
		inherits: true;
		initial-value: 0;
	}
	@property --is-lg {
		syntax: "true | false";
		inherits: true;
		initial-value: 0;
	}
	@media (width < 600px) {
		--is-xs: true;
	}
	@media (600px <= width < 1240px) {
		--is-sm: true;
	}
	@media (1240px <= width < 1440px) {
		--is-md: true;
	}
	@media (1440px <= width) {
		--is-lg: true;
	}

	/* @@todo 定義見なおし */
	--app-max-width: 1200px;
	--app-padding: 0 24px;

	/* フォントサイズ */
	--font-sm: 0.875rem;
	--font-3xl: 1.875rem;

	/* 色 */
	--color-surface-container-lowest: rgb(255 255 255);
}

.light {
	--bg-base: 255, 255, 255;
	--c-text-base: 16, 24, 40;
	--c-primary: 97, 95, 255;
	--c-outline: 116, 119, 127;
	--c-outline-variant: 196, 198, 208;
}

.dark {
	--c-primary: 97, 95, 255;
	--c-text-base: 255, 255, 255;
	--bg-base: 15, 23, 42;
	--c-outline: 116, 119, 127;
	--c-outline-variant: 248, 250, 252;
}
