.header {
	width: 100%;
	border-bottom: solid 1px var(--color-outline-variant);
	background-color: var(--bg-base);
}

.logo {
	vertical-align: bottom;
}

.header__contents {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	max-width: var(--app-max-width);
	margin: 0 auto;
	padding: var(--app-padding);
	column-gap: 32px;
}

.header__theme-button {
	margin-left: auto;
}
