/*noinspection CssReplaceWithShorthandSafely*/
.new-project-card {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 200ms;
  outline-style: dashed;
  outline-width: 2px;
  outline-color: rgba(var(--c-outline-variant), 0.75);

  &:hover {
    outline-color: rgb(var(--c-outline-variant));
  }
}

@container style(--theme: 'dark') {
  .new-project-card {
    outline-color: rgb(var(--c-outline));

    &:hover {
      outline-color: rgba(var(--c-outline-variant), 0.75);
    }
  }
}

.new-project-card__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  column-gap: 16px;
}

.new-project-card__label {
  font-size: var(--font-sm);
  font-weight: 500;
}

.icon {
  font-weight: normal;
  color: rgb(153 161 175);
}
