.new-project-card {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 200ms;
  outline: dashed 2px rgb(var(--c-outline));

  &:hover {
    outline: dashed 2px rgba(var(--c-outline-variant), 0.75);
  }
}

.new-project-card__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  column-gap: 16px;
}

.new-project-card__label {
  font-size: var(--font-sm);
  font-weight: 500;
}

.icon {
  font-weight: normal;
  color: rgb(153 161 175);
}
