.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;

  &:hover {
    background-color: var(--color-surface);
  }
}

.button--sm {
  width: 36px;
  height: 36px;
}

.button--icon {
  border-radius: 50%;
}
