.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--c-text-base);
}

.button--sm {
  width: 36px;
  height: 36px;
}

.button--icon {
  border-radius: 50%;
}
