@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

html,
body {
  max-width: 100dvw;
}

body {
  font-family: "Noto Sans JP", "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0,
  "wght" 400,
  "GRAD" 0,
  "opsz" 24;
}

:root {
  /* メディアクエリ */
  @property --is-xs {
    syntax: "true | false";
    inherits: true;
    initial-value: false;
  }
  @property --is-sm {
    syntax: "true | false";
    inherits: true;
    initial-value: 0;
  }
  @property --is-md {
    syntax: "true | false";
    inherits: true;
    initial-value: 0;
  }
  @property --is-lg {
    syntax: "true | false";
    inherits: true;
    initial-value: 0;
  }
  @media (width < 600px) {
    --is-xs: true;
  }
  @media (600px <= width < 1240px) {
    --is-sm: true;
  }
  @media (1240px <= width < 1440px) {
    --is-md: true;
  }
  @media (1440px <= width) {
    --is-lg: true;
  }

  /* テーマ */
  @property --theme {
    syntax: "light | dark";
    inherits: true;
    initial-value: false;
  }
  --theme: 'light';

  /* @@todo 定義見なおし */
  --app-max-width: 1200px;
  --app-padding: 0 24px;

  /* フォントサイズ */
  --font-sm: 0.875rem;
  --font-3xl: 1.875rem;
}

/* 色 */
.light {
  --theme: 'light';
  --bg-base: 255, 255, 255;
  --bg-surface: 252, 252, 252;
  --bg-text-box: 252, 252, 252;
  --c-text-base: 16, 24, 40;
  --c-primary: 97, 95, 255;
  --c-outline: 116, 119, 127;
  --c-outline-variant: 196, 198, 208;
  --c-outline-variant-tint: var(--c-outline-variant), 0.4;
}
.dark {
  --theme: 'dark';
  --bg-base: 18, 18, 18;
  --bg-surface: 33, 33, 33;
  --bg-text-box: 33, 33, 33;
  --c-text-base: 226, 232, 240;
  --c-primary: 97, 95, 255;
  --c-outline: 116, 119, 127;
  --c-outline-variant: 248, 250, 252;
  --c-outline-variant-tint: var(--c-outline-variant), 0.4;
}