.navigation {
  display: flex;
  column-gap: 32px;
}

.navigation__item {
  font-size: var(--font-sm);

  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 2px;
  text-decoration: none;
  --active-indicator-height: 2px;

  &.navigation__item--active {
    color: rgb(var(--c-primary));

    &::after {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: var(--active-indicator-height);
      content: "";
      user-select: none;
      background-color: rgb(var(--c-primary));
    }
  }

  &:not(.navigation__item--active) {
    color: rgb(51 65 85);

    &:hover {
      color: rgb(15 23 42);

      &::after {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: var(--active-indicator-height);
        content: "";
        user-select: none;
        background-color: rgb(var(--c-outline-variant));
      }
    }
  }
}

@container style(--theme: 'dark') {
  .navigation__item {
    &.navigation__item--active {
      color: rgb(var(--c-primary));
    }

    &:not(.navigation__item--active) {
      color: rgb(148 163 184);

      &:hover {
        color: rgb(203 213 225);

        &::after {
          background-color: rgb(203 213 225);
        }
      }
    }
  }
}
